<nav class='navbar navbar-expand navbar-light bg-light'>
  <a class='navbar-brand'>{{title}}</a>
  <ul class='navbar-nav'>
    <li class='nav-item'><a class='nav-link' routerLinkActive='active' [routerLink]="['/welcome']">Home</a>
    </li>
    <li class='nav-item'><a class='nav-link' routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}"
        [routerLink]="['/gutachtens']">Gutachten List</a>
    </li>
    <li class='nav-item'><a class='nav-link' routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}"
        [routerLink]="['/gutachtens/0/edit']">Add Gutachten</a>
    </li>
    <li class='nav-item'><a class='nav-link' routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}"
      [routerLink]="['/gutachters']">Gutachter List</a>
  </li>
  <li class='nav-item'><a class='nav-link' routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}"
      [routerLink]="['/gutachters/0/edit']">Add Gutachter</a>
  </li>
</ul>
</nav>
<div class='container'>
  <div class="error" *ngIf="error$ | async as error">
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
  </div>
  <router-outlet></router-outlet>
</div>